In [21]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('merged_file.csv')

In [37]:
sales_by_segment = data.groupby(['LIFESTAGE', 'PREMIUM_CUSTOMER'])['TOT_SALES'].sum().reset_index().sort_values(by='TOT_SALES', ascending=False)
total_sales = data['TOT_SALES'].sum()
sales_by_segment['PRCT'] = (sales_by_segment['TOT_SALES'] / total_sales) * 100
sales_by_segment['PRCT_CUM'] = sales_by_segment['PRCT'].cumsum()
sales_by_segment

                 LIFESTAGE PREMIUM_CUSTOMER  TOT_SALES      PRCT    PRCT_CUM
19   YOUNG SINGLES/COUPLES       Mainstream  128464.50  9.091307    9.091307
6           OLDER FAMILIES           Budget  116190.95  8.222720   17.314027
13                RETIREES       Mainstream  115128.25  8.147514   25.461541
9    OLDER SINGLES/COUPLES           Budget  102636.80  7.263506   32.725048
11   OLDER SINGLES/COUPLES          Premium   99433.55  7.036815   39.761863
10   OLDER SINGLES/COUPLES       Mainstream   97503.10  6.900199   46.662062
15          YOUNG FAMILIES           Budget   97050.55  6.868173   53.530235
12                RETIREES           Budget   86867.60  6.147535   59.677770
14                RETIREES          Premium   74767.15  5.291198   64.968968
7           OLDER FAMILIES       Mainstream   71302.95  5.046040   70.015009
1   MIDAGE SINGLES/COUPLES       Mainstream   70742.05  5.006346   75.021355
16          YOUNG FAMILIES       Mainstream   63587.35  4.500015   79.521369
17          YOUNG FAMILIES          Premium   58512.60  4.140880   83.662249
8           OLDER FAMILIES          Premium   55210.20  3.907172   87.569421
2   MIDAGE SINGLES/COUPLES          Premium   41590.95  2.943351   90.512772
18   YOUNG SINGLES/COUPLES           Budget   41519.10  2.938266   93.451038
20   YOUNG SINGLES/COUPLES          Premium   28506.80  2.017398   95.468436
0   MIDAGE SINGLES/COUPLES           Budget   25156.20  1.780280   97.248716
3             NEW FAMILIES           Budget   16947.25  1.199340   98.448057
4             NEW FAMILIES       Mainstream   13184.00  0.933019   99.381075
5             NEW FAMILIES          Premium    8745.70  0.618925  100.000000

LIFESTAGE            7
PREMIUM_CUSTOMER     3
LYLTY_CARD_NBR      21
dtype: int64